<script id="liquid-data" type="application/json">
{
    "displayPosition": {{section.settings.position}}
}
</script>

<div style="display: none;" id="bb-widget" data-widget-display={{ section.settings.position }} data-widget-top={{ section.settings.top }} data-widget-left={{ section.settings.left }}>
</div>


{{ 'widget.css' | asset_url | stylesheet_tag }}
<script src="{{ 'widget.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.interested-products.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "position",
      "options": [
        {
          "value": "Top-Left",
          "label": "t:sections.interested-products.settings.position.options__1.label"
        },
        {
          "value": "Top-Right",
          "label": "t:sections.interested-products.settings.position.options__2.label"
        },
        {
          "value": "Bottom-Left",
          "label": "t:sections.interested-products.settings.position.options__3.label"
        },
        {
          "value": "Bottom-Right",
          "label": "t:sections.interested-products.settings.position.options__4.label"
        }
      ],
      "default": "Top-Left",
      "label": "t:sections.interested-products.settings.position.label"
    },
    {
      "type": "range",
      "id": "top",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "t:sections.interested-products.settings.top",
      "default": 0
    },
    {
      "type": "range",
      "id": "left",
      "min": 0,
      "max": 100,
      "unit": "px",
      "label": "t:sections.interested-products.settings.left",
      "default": 10
    }
  ],
  "presets": [
    {
      "name": "t:sections.interested-products.name"
    }
  ]
}
{% endschema %}
