{%- liquid
  assign product = section.settings.product
  if product == null
    assign placeholder = true
  endif
-%}

<link rel="stylesheet" href="{{'product-variant.css' |  asset_url }}">
<script async src="{{'product-variant.js' |  asset_url}}"></script>

<div>
  {% unless placeholder %}
    <div class="product-variants-container color-{{ section.settings.color_scheme }}">
      <div style="transform: rotate(90deg);">
        <div class="product-variants-wrapper">
          {% for variant in product.variants %}
            <li
              class="{% if forloop.index %} active {% endif %} slides variant-image "
              style="--variants_total: {{ forloop.length }}; --current_variant:{{ forloop.index }}"
            >
              <img
                class=""
                width="128"
                height="128"
                src="{{ variant.image.src | image_url }}"
                alt=""
              >
            </li>
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    <h1 style="text-align: center; padding: 1rem 0rem;" class="color-{{ section.settings.color_scheme }} ">
      Please select a product.
    </h1>
    <div class="product-variants-container">
      <div style="transform: rotate(90deg);">
        <div class="product-variants-wrapper">
          <div
            class="slides"
            style="display: block; width: 128px; height:128px; background: lightgoldenrodyellow; --variants_total: 6; --current_variant:1"
          ></div>
          <div
            class="slides"
            style="display: block; width: 128px; height:128px; background: lightblue; border-radius: 50%; --variants_total: 6; --current_variant:2"
          ></div>
          <div
            class="slides"
            style="display: block; width:128px; height:128px; background: lightcoral; border-radius: 50%; --variants_total: 6; --current_variant:3"
          ></div>
          <div
            class="slides"
            style="display: block; width: 128px; height:128px; background: lightblue; border-radius: 50%; --variants_total: 6; --current_variant:4"
          ></div>
          <div
            class="slides"
            style="display: block; width:128px; height:128px; background: lightcoral; border-radius: 50%; --variants_total: 6; --current_variant:5"
          ></div>
          <div
            class="slides"
            style="display: block; width:128px; height:128px; background: lightcoral; border-radius: 50%; --variants_total: 6; --current_variant:6"
          ></div>
        </div>
      </div>
    </div>
  {% endunless %}
</div>

{% schema %}
{
  "name": "Product Variant",
  "tag": "section",
  "limit": 2,
  "class": "Product Variants",
  "blocks": [],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select Product"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Product Variants"
    }
  ]
}
{% endschema %}
